body {
    background-color: black;
}

#terminal {
    z-index: 4010;

    background: linear-gradient(#444 50%, #000 50%);
    background-size: 100% 4px;

    background-repeat: repeat-y;
    opacity: .14;
    box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, .8);

    animation: pulse 5s linear infinite;
}

@keyframes pulse {
    0%   {transform: scale(1.001);  opacity: .14; }
    8%   {transform: scale(1.000);  opacity: .13; }
    15%  {transform: scale(1.004);  opacity: .14; }
    30%  {transform: scale(1.002);  opacity: .11; }
    100% {transform: scale(1.000);  opacity: .14; }
}

/*#terminal:after {
   z-index : 4011;
  background-color : green;
  background: radial-gradient(ellipse at center, rgba(0,0,0,1) 0%,rgba(0,0,0,0.62) 45%,rgba(0,9,4,0.6) 47%,green 100%);
  box-shadow : inset 0px 0px 4px 4px rgba(100, 100, 100, .5);
  opacity : .1;
}*/